@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    text-align: center;
}

body {
    box-sizing: border-box;
    background-image: url('/images/background.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background: rgb(163,178,177);
    background: linear-gradient(90deg, rgba(163,178,177,0.6995645863570392) 8%, rgba(1,1,1,0.36175710594315247) 25%, rgba(65,68,68,1) 66%, rgba(115,125,125,0.5374677002583979) 100%), url('/images/background.jpg');
        }

header {
    border-bottom: 7px solid rgb(43, 168, 202);
    background-color: #24252A;
    position:relative;
}

header nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-flow: nowrap;
    
}

ul {
    list-style-type:none;
}


nav li, a, button {
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    text-align: center;   
}

.logo {
    cursor: pointer;
    border-radius: 25px;
}

.navlinks {
    list-style: none;
   
}

nav ul li {
    padding: 0 15px;
    margin-top: 1rem;
    
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9;
}

nav ul {
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-between;

}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
    
}

button:hover {
    background-color: rgb(212, 219, 221);
}

.logo:hover {
    background-color: rgb(212, 219, 221);
}

h1 {
    font-size: 20px;
    text-align: center;
    color:#967ef6;;
}

h2 { color:#b6a6f6;
    font-size: 18px;
    text-align:center;
    
}

#imgMe {
    padding-left: 2rem;
    padding-top: 2rem;
    border-radius: 100px;
    float: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.homelist {
    list-style:none;
    margin: auto;
    text-align:right;
}

   
footer {
    background-color: #24252A;
    border-top: 5px solid #58d1f9;
    bottom: 0px;
    color:rgb(253, 255, 254);
    height: 60px;
    position:fixed;
    width: 100%;
    
}


footer ul {
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

footer img {
    border-radius: 20px;
}

footer ul li {
    flex-basis:auto;
    margin-top: 10px;
   
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;   
}

.container__main {   
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
}

.container__left {
    background-color: #4c4d52;
    flex-basis: 20%;
    flex-wrap: wrap;  
    padding-bottom: 45px;
}

.container__middle {
    /* Take the remaining width */
    flex-grow: 1;
    flex-basis: 80%;
    line-height: 1.5;
    text-justify: newspaper;
    padding: 10px;
   
}

.container__left ul {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
    justify-content:space-between;
    margin: 0 10px;
   
}

.container__left ul li {
    background-color:#4c4d52;
    border-bottom: 2px solid black;
    color:#cae2e2;
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-size: 16px;
    list-style-type: none;
    padding: 10px;
    position:relative;
    top:0px;
    text-align: center; 
}



.container__left ul li:hover {
    background-color: #036e89;
    transition: all 0.7s ease 0s;
    position:relative;
    top:-10px;  
}

#point {
    position:relative;
    top:0px;   
}

#point:hover {
    position:relative;
    top:20px;
    transition: all 0.6s ease 0s;
}


.exlink {
    background-color: #518092;
    border-radius: 5px;
    padding: 3px;
}


.exlink:hover {
    color: #060808;
    transition: all 0.5s ease 0s;
    
}

.listhor li {
    display: inline;
    margin: 3px 8px;
}

.listver li {
    list-style-type: none;
    margin: 20px 0;
}

#warn {
    background-color: #ffffff;
    border-radius: 5px;
    color: #c93535;
    margin-bottom: 15px;
    margin-top: 0%;
    margin:auto 0;
    padding: 15px;
}
#warn:hover {
    background-color: #b52424;
    color: #fefefe;
    font-size: 22px;
    transition: all 0.8s;
}

.formContainer{
    background-color: #696b74;
    padding: 20px;
    max-height: 600px;
    max-width: 500px;
    margin: 0 auto;
}

form {

    background-color: #bfc5c5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;

}

label {
    background-color: rgba(0,136,169,1);
    border:1px solid black;

    color: #24252A;
    display:inline-block;
    margin-top:10px;
    padding: 5px;
    
}

input, textarea {
    color: #24252A;
    margin-top: 10px;
}

textarea{
    height: 70%;
    margin-top: 5px;
    width: 80%;
}

form button {
    align-self: center;
    width: 40%;
}

.container__middle ol {
    list-style-type:upper-roman;
    margin-left: 30px;
}

#bquote {
    background-color: #90bcd0;
    border-left: 5px solid #154966;
    border-left-width: 10px;
    box-sizing: border-box;
    color:#060808;
    font-family:'gelasio', serif;
    font-style: italic;
    font-size: 1.15em;
    margin:0;
    max-width: fit-content;
    padding:15px;
}
#mainquote {
    border: 5px solid #4c4d52;
    text-align: center;
    background-color: #24252A;
    height:fit-content;
    margin: 10px auto;
    width:20rem;
    padding:10px; 
    position:static;
    
}

#credit {
    text-align:center;
}
.icon {
    display: none;
  }

    /*Media Queries*/
   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 752px) {
    
    .navlinks li:not(:first-child) {display: none;}
   
    .highnav {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    .icon {
        display: block;
        align-self: center;
      }

      .responsive {
          background-color: rgb(171, 214, 222);
          border: 5px solid rgb(84, 79, 79);
          border-radius: 10px;
          display: fl
          ex;
          flex-direction: column; 
      }
      .responsive li a {
          color: #060808;
      }
    
    }

    @media screen and (max-width: 485px) {
    
        .navlinks li:not(:first-child) {display: none;}
       
        .highnav {
            display: flex;
            flex-direction: row;
            justify-content:space-around;
        }
        .icon {
            display: block;
            align-self: center;
          }
    
        .responsive {
            background-color: #6fc4e0;
            border: 5px solid rgb(85, 82, 82);
            border-radius: 10px;
            display: flex;
            flex-direction: column; 
          }
        }
